<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>${starting.nombre}</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />
    <style>
        #map {
            position: absolute;
            height: 100vh;
            width: 100%;
        }
        .custom-marker{
            height: 50px
        }
        .mapboxgl-popup {
            max-width: 400px;
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script>
        const places = []
        const lines = []
        <%([starting]+list).eachWithIndex{ l, idx->
        out << """
        places.push({
            'id': $idx,
            'description': "<strong>$l.nombre</strong><p>$l.descripcion</p>",
            'url': '$l.url',
            'coordinates': [$l.longitud, $l.latitud]
        });
        lines.push([$l.longitud, $l.latitud])
        """
        }%>
        
        var map = new maplibregl.Map({
            container: 'map',
            style: 'https://api.maptiler.com/maps/positron/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL',
            zoom: 16,
            center: [${starting.longitud}, ${starting.latitud}]
        });
        map.on('load', () => {

            const features = [];

            features.push({
                'type': 'Feature',
                'properties': {
                    'color': '#33C9EB' // blue
                },
                'geometry': {
                    'type': 'LineString',
                    'coordinates': []
                }
            });
            const geojson = {
                'type': 'FeatureCollection',
                'features': features
            };

            map.addSource('places', {
                'type': 'geojson',
                'data': geojson
            });

            map.addLayer({
                'id': 'lines',
                'type': 'line',
                'source': 'places',
                layout: {
                    'line-cap': "round",
                    'line-join': "round"
                },
                paint: {
                    'line-color': "#6084eb",
                    'line-width': 3,
                }
            });

            let index = 0;
            let markers = []
            setInterval(() => {
                if (index == places.length) {
                    markers.forEach(m => m.remove())
                    geojson.features[0].geometry.coordinates = []
                    map.getSource('places').setData(geojson)
                    index = 0;
                    return;
                }
                const p = places[index];
                var popup = new maplibregl.Popup({
                    offset: 25
                }).setHTML(p.description);
                var el = document.createElement('img');
                el.classList.add('custom-marker')
                el.id = 'marker' + p.id;
                el.src = '/images/museum.svg';
                var marker = new maplibregl.Marker(el)
                    .setLngLat(p.coordinates)
                    .setPopup(popup)
                    .addTo(map);

                markers.push(marker);
                geojson.features[0].geometry.coordinates.push(lines[index])
                map.getSource('places').setData(geojson)
                index++;
            }, 2000);
        })
    </script>
</body>

</html>